.explain{
  width: 900px;
  margin: 50px auto 0;
  box-sizing: content-box;
}
.game-app{
  border: 1px solid $border-color;
  height: 600px;
  width: 900px;
  margin: auto;
  box-sizing: content-box;
  position: relative;
}

.game-app-box{
  width: 300px;
  height: 300px;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  &.game-app-box_light{
    opacity: 0.3;
    z-index: 1;
    border: 1px solid $border-color;
  }

  touch-action: none;
  user-select: none;
  &:active, &:hover{
    cursor: grab;
  }
}

@media screen and (max-width: 768px) {
  body {
    -webkit-overflow-scrolling: touch; /* Safari 3.1+ */
    -moz-overflow-scrolling: touch; /* Firefox 2+ */
    -ms-overflow-scrolling: touch; /* IE 10+ */
    overflow-scrolling: touch; /* Standard syntax */
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
  }
}